<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="icon" type="image/png" href="/public/favicon/favicon-48x48.png" sizes="48x48" />
    <link rel="icon" type="image/svg+xml" href="/public/favicon/favicon.svg" />
    <link rel="shortcut icon" href="/public/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/public/favicon/apple-touch-icon.png" />
    <link rel="manifest" href="/public/favicon/site.webmanifest" />

    <title>CookNify</title>
  </head>
  <body>
    <a href="#main-content" class="skip-to-content" aria-label="Skip to main content">
      Skip to Content
    </a>
    <header-component>
      <brand-logo></brand-logo>
      <navigation-menu></navigation-menu>
    </header-component>
    <main id="main-content" tabindex="-1"></main>
    <footer-component></footer-component>
  </body>
</html>
