<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Modern and interactive restaurant catalog app" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="/public/icons/ms-icon-144x144.png" />
    <meta name="msapplication-config" content="/public/browserconfig.xml" />
    <meta name="theme-color" content="#4c0000" />

    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/public/icons/android-icon-192x192.png"
    />

    <link rel="icon" type="image/png" sizes="96x96" href="/public/icons/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="48x48" href="/public/icons/favicon-48x48.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/public/icons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/public/icons/favicon-16x16.png" />
    <link rel="icon" type="image/svg+xml" href="/public/favicon/favicon.svg" />

    <link rel="shortcut icon" href="/public/favicon/favicon.ico" />

    <link rel="apple-touch-icon" sizes="57x57" href="/public/icons/apple-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="/public/icons/apple-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/public/icons/apple-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/public/icons/apple-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/public/icons/apple-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/public/icons/apple-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/public/icons/apple-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/public/icons/apple-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/public/icons/apple-touch-icon.png" />

    <link rel="manifest" href="/public/site.webmanifest" />

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

    <title>CookNify</title>
  </head>
  <body>
    <a href="#main-content" class="skip-to-content" aria-label="Skip to main content">
      Skip to Content
    </a>
    <header-component>
      <brand-logo></brand-logo>
      <navigation-menu></navigation-menu>
    </header-component>
    <main
      id="main-content"
      tabindex="-1"
      style="min-height: 100vh; max-height: max-content; position: relative"
    ></main>
    <footer-component></footer-component>
  </body>
</html>
