@use '../utils/variables' as v;
@use '../utils/mixins' as m;
@use '../utils/functions' as f;

@include m.box-sizing-inherit;

.restaurant-list {
  margin: v.$spacing-96 auto;

  &__header {
    text-align: center;
    color: v.$primary-100;
    margin-bottom: v.$spacing-32;
    @include m.heading-style(h2);
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(f.rem(280), 1fr));
    justify-items: center;
    gap: v.$spacing-32;
    @include m.container-style(v.$spacing-24, f.rem(1000));

    @include m.breakpoint(small, min-width) {
      grid-template-columns: repeat(auto-fit, minmax(f.rem(300), 1fr));
    }

    @include m.breakpoint(large, min-width) {
      grid-template-columns: repeat(auto-fit, minmax(f.rem(360), 1fr));
    }
  }
}
