@use "../utils/variables" as v;
@use "../utils/mixins" as m;
@use "../utils/functions" as f;

@include m.box-sizing-inherit;

:host {
  display: block;
  width: 100%;
  background-color: v.$bg-300;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(96, 20, 21, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  @include m.breakpoint(medium, max-width, down) {
    max-width: f.rem(350);
  }
}

:host(:hover) {
  transform: translateY(-8px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.35);
}

.restaurant-item {
  &__image {
    width: 100%;
    height: f.rem(220);
    background-size: cover;
    background-position: center;

    @include m.breakpoint(small, min-width) {
      height: f.rem(250);
    }
    @include m.breakpoint(medium, min-width) {
      height: f.rem(280);
    }
    @include m.breakpoint(large, min-width) {
      height: f.rem(300);
    }
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding: 1.2rem;
  }

  &__location {
    position: absolute;
    right: 0;
    top: -43px;
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: v.$spacing-8;
    background: v.$bg-300;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-inline: v.$spacing-24;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -12px inset,
      rgba(0, 0, 0, 0.3) 0px 18px 26px -18px inset;

    & svg {
      fill: v.$primary-300;
      width: 1.1rem;
      height: 1.1rem;
    }
  }

  &__city {
    font-size: v.$subHeading-font-size;
    color: v.$primary-300;
    font-weight: 500;
  }

  &__header {
    font-weight: 700;
    color: v.$primary-200;
    max-width: 70%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    @include m.heading-style(h3);
  }

  &__description {
    font-size: v.$subHeading-font-size;
    color: v.$text-100;
    margin: 0.5rem 0;
    max-height: 5.6rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  &__rating {
    display: inline-flex;
    align-items: center;
    color: v.$accent-100;
    font-weight: 600;

    &::before {
      content: "⭐";
      margin-right: 0.3rem;
    }
  }
}
