@use '../utils/variables' as v;
@use '../utils/mixins' as m;
@use '../utils/functions' as f;

@include m.box-sizing-inherit;

.testimonials {
  background-color: transparent;
  text-align: center;
  margin: 0 auto v.$spacing-96;

  &__container {
    @include m.container-style(v.$spacing-24, f.rem(1000));
  }

  &__header {
    color: v.$primary-100;
    margin-bottom: v.$spacing-8;
    @include m.heading-style(h2);
  }

  &__description {
    font-size: v.$subHeading-font-size;
    margin-bottom: v.$spacing-64;
  }
}

.testimonial {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(f.rem(260), 1fr));
  gap: v.$spacing-32;

  @include m.breakpoint(small, min-width) {
    grid-template-columns: repeat(auto-fit, minmax(f.rem(300), 1fr));
  }

  @include m.breakpoint(large, min-width) {
    grid-template-columns: repeat(auto-fit, minmax(f.rem(360), 1fr));
  }

  &__card {
    position: relative;
    width: 100%;
    padding: v.$spacing-32;
    margin-top: f.rem(60);
    border: 4px solid v.$bg-300;
    border-radius: 45px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include m.breakpoint(large, min-width) {
      padding: v.$spacing-48;
    }
  }
  &__profile {
    margin-top: v.$spacing-32;
  }
  &__avatar {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 4px solid v.$bg-300;
    
    @include m.image-style(f.rem(120), f.rem(120))
  }
  &__name {
    font-size: v.$subHeading-font-size;
    font-weight: 600;
  }
  &__role {
    font-size: v.$subHeading-font-size;
    color: v.$text-200;
  }
  &__text {
    margin-top: v.$spacing-24;
  }
}
